.gallery {
  width: $widthComputerContainer;
  max-width: $maxWidthContainer;

  &-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
}

.calendar {
  width: $widthComputerContainer;
  max-width: $maxWidthContainer;
  .day {
    .day-events {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
